name: Auto Liqi

on:
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch:

jobs:
    auto-liqi:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.10'

            - name: Install requests
              run: python -m pip install requests

            - name: Set up Node.js
              uses: actions/setup-node@v4

            - name: Install protobufjs and protobufjs-cli
              run: npm install -g protobufjs protobufjs-cli
            
            - name: Run get_liqi.py
              id: get_liqi
              run: python get_liqi.py

            - name: Generate liqi.proto from liqi.json
              run: pbjs -t proto3 liqi.json > liqi.proto

            - name: Make the protoc executable
              run: chmod +x protoc

            - name: Generate liqi_pb2.py from liqi.proto
              run: ./protoc --python_out=. liqi.proto

            - name: Publish protobuf files
              uses: actions/upload-artifact@v4
              with:
                name: ${{ steps.get_liqi.outputs.version }}
                path: |
                  code.js
                  liqi.json
                  liqi.proto
                  liqi_pb2.py
                  lqc.lqbin

            - name: Get latest release
              id: get_latest_release
              uses: joutvhu/get-release@v1
              with:
                latest: true
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              
            - name: Upload release
              uses: softprops/action-gh-release@v2
              if: ${{steps.get_latest_release.outputs.body != steps.get_liqi.outputs.body}}
              with:
                tag_name: ${{ steps.get_liqi.outputs.version }}
                token: ${{ secrets.GITHUB_TOKEN }}
                body: ${{steps.get_liqi.outputs.body}}
                make_latest: true
                files: |
                  code.js
                  liqi.json
                  liqi.proto
                  liqi_pb2.py
                  lqc.lqbin
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                   
